<span class="activity-feed-title">ACTIVITY <strong>FEED</strong></span>
<div class="activity-feed-list-div">
	<ul class="activity-list">
		<% _.each(activities, function(activity){ %>
			<div class="activity-item">
				<p class="pre-title"><%= get_activity_description(activity)[0] %></p>
				<p class="activity-text"><%= get_activity_description(activity)[1] %></p>
				<p class="start-time">~<%= activity.get_relative_time_string()%>~</p>
				<p class="ellipsis">. . .</p>
			</div>
		<% }) %>
	</ul>
</div>
