<div id="interest-grid">
  <div id="freewall" class="free-wall" style="overflow: scroll;">
  	<% _.each(interests.secondary_categories, function(interest){ %>
  	<div class='brick brick-<%= brick_size(interest) %>' >
  		<p class="interest-number"><%= title_for_interest(interest)[0] %></p>
  		<div class="text-div">
	  		<p class="intro">~<%= title_for_interest(interest)[1].toUpperCase() %>~</p>
	  		<p class="description"><strong><%= title_for_interest(interest)[2].toUpperCase() %></strong></p>
  		</div>
  	</div>
  	<% });%>
  </div>
</div>
