@background_image: '../assets/wild_flowers.png';
@activity_gray: rgb(200,200,200);

html{
	width: 100%;
	height: 100%;
}

body{
	background-image: url(@background_image);
	background-repeat: repeat;
	font-family: 'Merriweather', serif;
}

.event-grid{
	position: absolute;
	height: 90%;
	width: 65%;
	top: 5%;
	right:5%;
	background-color: rgba(20,20,20,0.5);
	.event-grid-title{
		position: relative;
		width: 100%;
		height: 5%;
		font-size: 2.5em;
		color: white;
		margin-top: 10px;
		text-align: center;
		display: block;
		strong{
			font-size: 1.05em;
		}
	}
	.grid{
		position: relative;
		height: 87%;
		width: auto;
		top: 5%;
		.slideshow{
			position: relative;
			width: 94%;
			height: 90%;
			left: 3%;
			top: -3%;
			.slide{
				position: relative;
				width: 900px;
				height: 600px;
				.box-1{
					position: absolute;
					width: 48%;
					height: 49%;
					margin-top: 1%;
					margin-left: 1%;
					background-color: rgba(240,240,240,0.3);
					.event-description{
						text-align: center;
						word-wrap: break-word;
						margin-left: 60px;
						margin-right: 60px;
						color: rgb(230,230,230)
					}
					.event-time-location{
						text-align: center;
						color: rgb(140,0,0);
						font-size: 2em;
						margin-top: 10px;
					}
					.bar-1{
						position: absolute;
						background-color:  rgba(240,240,240, 0.9);
						width: 150px;
						height: 20px;
						bottom: 85px;
					}
					.bar-2{
						position: absolute;
						background-color: rgba(240,240,240, 0.9);
						width: 150px;
						height: 20px;
						bottom: 60px;
					}
					.bar-3{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 35px;
					}
					.bar-4{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 10px;
					}
					.attending-number{
						position: absolute; bottom: 32px; font-size: 2em; opacity: 0.5; right: 50px;
					}
					.attending-word{
						position: absolute; bottom: 17px; font-size: 1em; opacity: 0.5; right: 50px;
					}
					.attending-icon{
						position:absolute; right: 20px; bottom: 20px; height: 50px; opacity: 0.5;
					}
				}
				.box-2{
					position: absolute; width: 48%; height: 49%;  margin-top: 1%; margin-left:51%; background-color: rgba(240,240,240,0.7);
					.event-description{
						text-align: center; word-wrap: break-word; margin-left: 60px; margin-right: 60px; color: rgb(100,100,100);
					}
					.event-time-location{
						text-align: center; color: rgb(130,0,0); font-size: 2em; margin-top: 10px;
					}
					.bar-1{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 10px;
					}
					.bar-2{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 35px;
					}
					.bar-3{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 60px;
					}
					.bar-4{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 85px;
					}
					.attending-number{
						position: absolute; bottom: 32px; font-size: 2em; opacity: 0.5; right: 50px;
					}
					.attending-word{
						position: absolute; bottom: 17px; font-size: 1em; opacity: 0.5; right: 50px;
					}
					.attending-icon{
						position:absolute; right: 20px; bottom: 20px; height: 50px; opacity: 0.5;
					}
				}
				.box-3{
					position: absolute; width: 48%; height: 49%;  margin-top: 37%; margin-left:51%; background-color: rgba(240,240,240,0.3);
					.event-description{
						text-align: center; word-wrap: break-word; margin-left: 60px; margin-right: 60px; color: rgb(230,230,230); margin-top: -10px
					}
					.event-time-location{
						text-align: center; color: rgb(130,0,0); font-size: 2em; margin-top: -10px;
					}
					.bar-1{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 30px;
						.bar-text{
							font-size: 10px; display: block; margin-right: 5px; margin-top: 5px; text-align: right;
						}
					}
					.bar-2{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 55px;
						.bar-text{
							font-size: 10px; display: block; margin-right: 5px; margin-top: 5px; text-align: right;
						}
					}
					.bar-3{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 80px;
						.bar-text{
							font-size: 10px; display: block; margin-right: 5px; margin-top: 5px; text-align: right;
						}
					}
					.bar-4{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 105px;
						.bar-text{
							font-size: 10px; display: block; margin-right: 5px; margin-top: 5px; text-align: right;
						}
					}
					.attending-number{
						position: absolute; bottom: 45px; font-size: 2em; opacity: 0.5; right: 50px;
					}
					.attending-word{
						position: absolute; bottom: 30px; font-size: 1em; opacity: 0.5; right: 50px;
					}
					.attending-icon{
						position:absolute; right: 20px; bottom: 33px; height: 50px; opacity: 0.5;
					}
				}
				.box-4{
					position: absolute; width: 48%; height: 49%;  margin-top: 37%; margin-left:1%; background-color: rgba(240,240,240,0.7);
					.event-title{
						text-align: center;
					}
					.event-description{
						text-align: center; word-wrap: break-word; margin-left: 60px; margin-right: 60px; color: rgb(100,100,100); margin-top: -10px;
					}
					.event-time-location{
						text-align: center; color: rgb(130,0,0); font-size: 2em; margin-top: -10px;
					}
					.bar-1{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 30px;
						.bar-text{
							font-size: 10px; display: block; margin-right: 5px; margin-top: 5px; text-align: right;
						}
					}
					.bar-2{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 55px;
						.bar-text{
							font-size: 10px; display: block; margin-right: 5px; margin-top: 5px; text-align: right;
						}
					}
					.bar-3{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 80px;
						.bar-text{
							font-size: 10px; display: block; margin-right: 5px; margin-top: 5px; text-align: right;
						}
					}
					.bar-4{
						position: absolute; background-color: rgba(240,240,240, 0.9); width: 150px; height: 20px; bottom: 105px;
						.bar-text{
							font-size: 10px; display: block; margin-right: 5px; margin-top: 5px; text-align: right;
						}
					}
					.attending-number{
						position: absolute; bottom: 45px; font-size: 2em; opacity: 0.5; right: 50px;
					}
					.attending-word{
						position: absolute; bottom: 30px; font-size: 1em; opacity: 0.5; right: 50px;
					}
					.attending-icon{
						position:absolute; right: 20px; bottom: 33px; height: 50px; opacity: 0.5;
					}
				}
				.event-title{
					text-align: center;
				}
				.bar-text{
					font-size: 10px;
					display: block;
					margin-right: 5px;
					margin-top: 5px;
					text-align: right;
				}
			}
		}
	}
}

.activity-feed{
	position: absolute;
	height: 90%;
	width: 25%;
	top: 5%;
	left:5%;
	background-color: rgba(0,0,0,0.6);
	.activity-feed-title{
		font-size: 2.5em;
		color: white;
		margin-top: 10px;
		text-align: center;
		display: block;
		strong{
			font-size: 1.05em;
		}
	}
	.activity-feed-list-div{
		position: absolute;
		overflow: scroll;
		top: 10%;
		bottom: 3%;
		right: 2%;
		left: 2%;
		.activity-list{
			list-style-type: none;
			margin-top:30px;
			.activity-item{
				margin-left: -15%;
				.pre-title{
					position: relative;
					color: @activity_gray;
					margin-bottom: 0px;
					left: 0px;
					text-align: center;
				}
				.event-name{
					position: relative;
					color:white;
					font-size: 1.3em;
					text-align: center;
					margin-top: 0px;
					margin-bottom: 0px;
				}
				.start-time{
					position: relative;
					color: @activity_gray;
					text-align: center;
					margin-top: 10px;
					font-size:0.8em;
				}
				.ellipsis{
					position: relative;
					color: @activity_gray;
					 text-align: center;
				}
			}
		}
	}
}
