.interest-side-panel {
  position: absolute;
  height: 700px;
  width: 350px;
  top: 50px;
  left: 50px;
}
.interest-side-panel .side-panel-number {
  position: absolute;
  font-size: 10em;
  margin-top: 35px;
  text-align: center;
  width: 350px;
}
.interest-side-panel .side-panel-title {
  position: absolute;
  font-size: 1em;
  margin-top: 245px;
  text-align: center;
  width: 350px;
}
.interest-side-panel .side-panel-description {
  position: absolute;
  font-size: 2em;
  margin-top: 280px;
  text-align: center;
  width: 350px;
}
.interest-side-panel .triangle {
  height: 700px;
  width: 1000px;
}
.interest-side-panel .back-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#interest-grid {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  padding: 15px;
  overflow: hidden;
}
#interest-grid #freewall {
  width: 100%;
  height: 100%;
}
@keyframes start {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes start {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
#interest-grid .brick-1 {
  background-color: rgba(240, 240, 240, 0.7);
  width: 80px;
  height: 80px;
}
#interest-grid .brick-1 .text-div {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
#interest-grid .brick-1 .interest-number {
  margin-top: 0px;
  font-size: 2em;
  color: white;
  text-align: center;
}
#interest-grid .brick-1 .description {
  text-align: center;
  color: #820000;
}
#interest-grid .brick-1 .intro {
  text-align: center;
  color: #323232;
  margin-bottom: 0px;
}
#interest-grid .brick-1 .intro,
#interest-grid .brick-1 .description {
  font-size: 5pt;
}
#interest-grid .brick-3 {
  background-color: rgba(240, 240, 240, 0.4);
  width: 160px;
  height: 50px;
}
#interest-grid .brick-3 .text-div {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 50%;
  text-align: center;
}
#interest-grid .brick-3 .interest-number {
  color: white;
  position: absolute;
  text-align: left;
  margin: 0;
  top: 15px;
  left: 30px;
  font-size: 3em;
}
#interest-grid .brick-3 .description {
  text-align: center;
  margin: 0;
  color: #820000;
}
#interest-grid .brick-3 .intro {
  text-align: center;
  margin: 0;
  color: #323232;
}
#interest-grid .brick-3 .intro,
#interest-grid .brick-3 .description {
  font-size: 8pt;
}
#interest-grid .brick-8 {
  background-color: rgba(215, 215, 200, 0.7);
  width: 320px;
  height: 100px;
}
#interest-grid .brick-8 .text-div {
  position: absolute;
  right: 30px;
  top: 15px;
  width: 60%;
  text-align: center;
}
#interest-grid .brick-8 .interest-number {
  color: white;
  position: absolute;
  text-align: center;
  margin: 0;
  left: 40px;
  font-size: 5em;
}
#interest-grid .brick-8 .description {
  text-align: center;
  margin: 0;
  color: #820000;
}
#interest-grid .brick-8 .intro {
  text-align: center;
  margin: 0;
  color: #323232;
}
#interest-grid .brick-8 .intro,
#interest-grid .brick-8 .description {
  font-size: 10pt;
}
#interest-grid .brick-10 {
  width: 160px;
  height: 160px;
}
#interest-grid .brick-10 .text-div {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
#interest-grid .brick-10 .interest-number {
  margin-top: 0px;
  font-size: 5em;
  color: white;
  text-align: center;
}
#interest-grid .brick-10 .description {
  text-align: center;
  color: #820000;
}
#interest-grid .brick-10 .intro {
  text-align: center;
  color: #323232;
  margin-bottom: 0px;
}
#interest-grid .brick-10 .intro,
#interest-grid .brick-10 .description {
  font-size: 12pt;
}
#interest-grid .free-wall .brick[data-state="init"] {
  display: none;
}
#interest-grid .free-wall .brick[data-state="start"] {
  display: block;
  animation: start 0.5s;
  -webkit-animation: start 0.5s;
}
#interest-grid .free-wall .brick[data-state="move"] {
  transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
  -webkit-transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
}
body {
  background-image: url('../assets/wild_flowers.png');
  background-repeat: repeat;
  font-family: 'Merriweather', serif;
}
.event-grid {
  position: absolute;
  height: 700px;
  width: 1000px;
  top: 50px;
  left: 400px;
  background-color: rgba(20, 20, 20, 0.5);
}
.event-grid .event-grid-title {
  position: relative;
  width: 1000px;
  height: 35px;
  color: white;
  font-size: 2.5em;
  margin-top: 10px;
  text-align: center;
  display: block;
}
.event-grid .event-grid-title strong {
  font-size: 1.05em;
}
.event-grid .grid {
  position: relative;
  height: 612.5px;
  width: 1000px;
  top: 17.5px;
}
.event-grid .grid .slideshow {
  position: relative;
  width: 940px;
  height: 612.5px;
  left: 30px;
  right: 30px;
}
.event-grid .grid .slideshow .slide {
  position: relative;
  width: 100%;
  height: 612.5px;
}
.event-grid .grid .slideshow .slide .box {
  position: absolute;
  width: 450px;
  height: 280px;
}
.event-grid .grid .slideshow .slide .box-1,
.event-grid .grid .slideshow .slide .box-3 {
  margin-left: 10px;
}
.event-grid .grid .slideshow .slide .box-1,
.event-grid .grid .slideshow .slide .box-2 {
  margin-top: 10px;
}
.event-grid .grid .slideshow .slide .box-3,
.event-grid .grid .slideshow .slide .box-4 {
  margin-top: 300px;
}
.event-grid .grid .slideshow .slide .box-1,
.event-grid .grid .slideshow .slide .box-4 {
  background-color: rgba(240, 240, 240, 0.3);
}
.event-grid .grid .slideshow .slide .box-1 .event-description,
.event-grid .grid .slideshow .slide .box-4 .event-description {
  color: #e6e6e6;
}
.event-grid .grid .slideshow .slide .box-2,
.event-grid .grid .slideshow .slide .box-3 {
  background-color: rgba(240, 240, 240, 0.7);
}
.event-grid .grid .slideshow .slide .box-2 .event-description,
.event-grid .grid .slideshow .slide .box-3 .event-description {
  color: #646464;
}
.event-grid .grid .slideshow .slide .box-2,
.event-grid .grid .slideshow .slide .box-4 {
  margin-left: 480px;
}
.event-grid .grid .slideshow .slide .bar-text {
  font-size: 10px;
  display: block;
  margin-right: 5px;
  margin-top: 5px;
  text-align: right;
}
.event-grid .grid .slideshow .slide .bar {
  position: absolute;
  background-color: rgba(240, 240, 240, 0.9);
  height: 20px;
}
.event-grid .grid .slideshow .slide .bar-3 {
  bottom: 10px;
}
.event-grid .grid .slideshow .slide .bar-2 {
  bottom: 35px;
}
.event-grid .grid .slideshow .slide .bar-1 {
  bottom: 60px;
}
.event-grid .grid .slideshow .slide .event-title {
  text-align: center;
}
.event-grid .grid .slideshow .slide .event-description {
  text-align: center;
  word-wrap: break-word;
  margin-left: 60px;
  margin-right: 60px;
}
.event-grid .grid .slideshow .slide .event-time-location {
  text-align: center;
  color: #820000;
  font-size: 1.5em;
  margin-top: 10px;
}
.event-grid .grid .slideshow .slide .attending-number {
  position: absolute;
  bottom: 32px;
  font-size: 2em;
  opacity: 0.5;
  right: 50px;
}
.event-grid .grid .slideshow .slide .attending-word {
  position: absolute;
  bottom: 17px;
  font-size: 1em;
  opacity: 0.5;
  right: 50px;
}
.event-grid .grid .slideshow .slide .attending-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 50px;
  opacity: 0.5;
}
.activity-feed {
  position: absolute;
  height: 700px;
  width: 350px;
  top: 50px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}
.activity-feed .activity-feed-title {
  font-size: 2.5em;
  color: white;
  margin-top: 10px;
  text-align: center;
  display: block;
}
.activity-feed .activity-feed-title strong {
  font-size: 1.05em;
}
.activity-feed .activity-feed-list-div {
  position: absolute;
  overflow: scroll;
  top: 10%;
  bottom: 3%;
  right: 2%;
  left: 2%;
}
.activity-feed .activity-feed-list-div .activity-list {
  list-style-type: none;
  margin-top: 30px;
}
.activity-feed .activity-feed-list-div .activity-list .activity-item {
  margin-left: -15%;
}
.activity-feed .activity-feed-list-div .activity-list .activity-item .pre-title {
  position: relative;
  color: #c8c8c8;
  margin-bottom: 0px;
  left: 0px;
  text-align: center;
}
.activity-feed .activity-feed-list-div .activity-list .activity-item .activity-text {
  position: relative;
  color: white;
  font-size: 1.3em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.activity-feed .activity-feed-list-div .activity-list .activity-item .start-time {
  position: relative;
  color: #c8c8c8;
  text-align: center;
  margin-top: 10px;
  font-size: 0.8em;
}
.activity-feed .activity-feed-list-div .activity-list .activity-item .ellipsis {
  position: relative;
  color: #c8c8c8;
  text-align: center;
}
